* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-font: 'Montserrat', sans-serif;
    --dark-purple: rgb(49,37,90);
    --light-blue: rgb(143,224,255);
    --med-blue: rgb(74, 138, 187);
    --med-purple: rgb(117, 91, 151);
    --dark-blue: rgb(9, 68, 121);
}

body {
    font-family: var(--body-font);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.weather-heading {
    background-color: var(--dark-purple);
    color: white;
    text-align: center;
    padding: 40px;
    font-weight: bold;
}

.grid-layout {
    background-color: pink;
}

/* .search {

} */

.input-search {
    background-color: var(--dark-blue);
    color: white;
    margin: 20px;
    padding: 15px;
}

.city-search {
    font-weight: bold;
    padding: 10px;
}

i {
    color: white;
}

.featured-city {
    background-color: var(--light-blue);
    margin-bottom: 20px;
    padding: 10px;
}

/* stacks the 5 day forecast heading and contents on top of eachother */
.five-day-forecast {
    display: flex;
    flex-direction: column;
}

.five-day-forecast-header {
    background-color: var(--med-purple);
    font-weight: bold;
    color: white;
    padding: 15px;
}

/* styling for five day forecast container */
.five-day-forecast-container {
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}

/* when five day weather forecast is displayed, stying for p tags */
.five-day-forecast-container p {

}

.section-2 {
    margin: 20px 20px 20px 0px;
}

.submit-button {
    background-color: var(--light-blue);
}

/* to hide elements */
.hide {
    display: none;
}

/* search history styling */
.search-history-buttons {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 200px;
    background-color: var(--med-blue);
}



/* 
.current-temperature {

}

.humidity {

} */



/* UV index styling */
.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: yellow;
}

.uv-red {
    background: red;
}
