* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-font: 'Montserrat', sans-serif;
    --light-blue: rgb(143,224,255);
    --med-blue: rgb(74, 138, 187);
    --dark-blue: rgb(9, 68, 121);
    --bubbles: rgb(227, 244, 254);
}

body {
    font-family: var(--body-font);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.weather-heading {
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    padding: 40px;
    font-weight: bold;
}

.currentcity-header {
    margin: 20px;
}

.input-search {
    background-color: var(--dark-blue);
    color: white;
    margin: 20px;
    padding: 15px;
}

.city-search {
    font-weight: bold;
    padding: 10px;
}

i {
    color: white;
}

.featured-city {
    background-color: var(--bubbles);
    margin-bottom: 20px;
    padding: 10px;
}

.featured-city-header {
    font-weight: bold;
}

/* stacks the 5 day forecast heading and contents on top of eachother */
.five-day-forecast {
    display: flex;
    flex-direction: column;
}

.five-day-forecast-header {
    background-color: var(--med-blue);
    font-weight: bold;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* styling for five day forecast container */
.five-day-forecast-container {
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

/* when five day weather forecast is displayed, stying for p tags */
.five-day-forecast-container h6 {
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.five-day-forecast-container p {
    margin: 10px;
}

.section-2 {
    margin: 20px 20px 20px 0px;
}

.submit-button {
    background-color: var(--bubbles);
}

.submit-button:hover {
    box-shadow: 0 0 1px 1px var(--dark-blue);
    font-weight: bold;
}

/* to hide elements */
.hide {
    display: none;
}

/* search history styling */
.search-history-buttons {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 200px;
    background-color: var(--med-blue);
}

#clear-history {
    margin: 10px;
}

#clear-history:hover {
    box-shadow: 0 0 1px 1px var(--dark-blue);
    font-weight: bold;
}


/* UV index styling */
.uv-green {
    background-color: green;
    color: white;
}

.uv-yellow {
    background-color: yellow;
}

.uv-orange {
    background-color: orange;
}

.uv-red {
    background: red;
    color: white;
}
