* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-font: 'Montserrat', sans-serif;
    --dark-purple: rgb(49,37,90);
    --light-blue: rgb(143,224,255);
    --med-blue: rgb(74, 138, 187);
    --med-purple: rgb(117, 91, 151);
    --dark-blue: rgb(9, 68, 121);
}

body {
    font-family: var(--body-font);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.weather-heading {
    background-color: var(--dark-purple);
    color: white;
    text-align: center;
    padding: 40px;
    font-weight: bold;
}

.grid-layout {
    background-color: pink;
}

/* .search {

} */

.input-search {
    background-color: var(--dark-blue);
    color: white;
    margin: 20px;
    padding: 15px;
}

.city-search {
    font-weight: bold;
    padding: 10px;
}

i {
    color: white;
}

.featured-city {
    background-color: var(--light-blue);
    margin-bottom: 20px;
    padding: 10px;
}

.five-day-forecast {
    background-color: var(--med-purple);
    padding: 10px;
    color: white;
}

.five-day-forecast-header {
    font-weight: bold;
}

.section-2 {
    margin: 20px;
}

.submit-button {
    background-color: var(--light-blue);
}

.hide {
    display: none;
}

.list-styling {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: var(--med-blue);
}